<!DOCTYPE html>
<html lang="en">
<head>
  <title>Image Classification</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand">Covid-19 Disease Detection</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </nav>
    <div class="text-center">
    <p STYLE="margin-top: 100px; color:#0D6EFD"> If you are ready to run Covid-19 prediction test on your reports, please click on the button below!</p>
    <a class="btn btn-primary btn-lg" href="runtests" role="button">RUN TESTS !</a>
    <p STYLE="margin-top:20px; color:#0D6EFD">We have made our tests more accurate and trustworthy by adding the new feature, Explainable AI.</p>
    <p STYLE="color:#0D6EFD">Results Made Easy To Understand! </P>
    </div>
</body>
</html>